/* Quick items of Interest
Netflix Color: 
    Hex: #E50914
    
    /////Background image:
    'https://assets.nflxext.com/ffe/siteui/vlv3/f1e267d6-6c89-4764-b978-5f074b26bea5/b3971fff-4585-4604-83a5-c2d03571d56b/US-en-20190722-popsignuptwoweeks-perspective_alpha_website_medium.jpg'
*/

/* MAIN */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    color: whitesmoke;
    display: flex;
}

/* Top Banner */

.top-banner {
    background-image:url('https://assets.nflxext.com/ffe/siteui/vlv3/f1e267d6-6c89-4764-b978-5f074b26bea5/b3971fff-4585-4604-83a5-c2d03571d56b/US-en-20190722-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    background-size: cover;
    height: 93vh;
    width: 105vw;
    background-position: center;
    text-align: center;
    align-content: center;
}

/* Nav Bar */
/* stopped here.  Working on alignment. */
.nav {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-items: flex-end;
    padding: 2em;
}
#logo {
    background-color: #E50914;
    height: 12vh;
    width: 14vw;

}

#sign-in {
    background-color:#E50914;
    height: 1.2em;
    width: 4em;
    padding: .3em;
     
}



/* Bottom Banner */