/* Quick items of Interest
Netflix Color: 
    Static replica: netflix.com  *main splash page*    

    https://brand.netflix.com/en/
    Hex: #E50914
    Head Font: font-family: 'Karla', sans-serif;
    Body Font: font-family: 'Archivo', sans-serif;

    /////Background image:
    'https://assets.nflxext.com/ffe/siteui/vlv3/f1e267d6-6c89-4764-b978-5f074b26bea5/b3971fff-4585-4604-83a5-c2d03571d56b/US-en-20190722-popsignuptwoweeks-perspective_alpha_website_medium.jpg'

*/

/* MAIN */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-flow: column;
    font-family: 'Archivo', sans-serif;
}

/* Top Banner */

.top-banner {
    background-image: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,.5),rgba(0,0,0,1)), url(./assets/US-en-20190722-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    height: 93vh;
    width: 105vw;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-flow: column;
}

/* Nav Bar */

.nav {
    padding: 1.5em;
    background-size: cover;
    width: 105vw;
    height: 12vh;
    display: flex;
    flex-direction: row; 
}
/* need to fix logo & sign-in button */
.nav #logo {
    background-image: url(./assets/Netflix_Logo_RGB.png);
    height: 12vh;
    width: 14vw;
    align-items: center;
}

#sign-in {
    background-color:#E50914;
    height: 1.2em;
    width: 4em;
    padding: .3em;
    border-radius: 5px;
    align-self: flex-end;
}

/* Top Banner Info */

#whats-next {
    background-size: 80vw;
    width: 105vw;
}

#whats-next span {
    font-family: 'Karla', sans-serif;
    font-size: 5.4em;
    font-display: bold;
}

#whats-next p {
    font-size: 2.4em;
}

button {
    background-color:#E50914;
    border: none;
    height: 10vh;
    width: 33vw;
    border-radius: 2px;
    align-self: center;
    padding: 0;
    font-size: 2.5em;
    text-transform: uppercase;
}
/* need to add animation to button */
#try-button::hover {

}

/* Mid Banner */
.mid-banner {
    display: flex;
    background-color: #111;
    background-size: cover;
    height: 22vh;
    width: 105vw;
    flex-wrap: wrap;
}

.mid-banner div {
    height: 11vh;
    width: 20%;
    justify-content: center;
/* border will be removed once images are placed. */
    border: 1px solid black; 
    flex-flow: row;
}

.mid-banner li {
    height: 11vh;
    width: 20%;
    list-style-type: none;
    flex-flow: row;
    flex-wrap: wrap;


/* Bottom Banner */